{% extends 'base.html.twig' %}

{% block title %}Crear tarea{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h2>Crear tarea</h2>
    {# iniciamos formulario #}
    {{form_start(form)}}
    {# imprimimos los campos del formulario #}
    {{form_widget(form)}}
    {# cerramos formulario #}
    {{form_end(form)}}

     
</div>
{% endblock %}