{% extends 'base.html.twig' %}

{% block title %}
    {% if edit is defined %}
        Modificar tarea
    {% else %}
        Crear tarea
    {% endif %}
{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h2>
    {% if edit is defined %}
        Modificar tarea
    {% else %}
        Crear tarea
    {% endif %}
    </h2>
    {# iniciamos formulario #}
    {{form_start(form)}}
    {# imprimimos los campos del formulario #}
    {{form_widget(form)}}
    {# cerramos formulario #}
    {{form_end(form)}}

     
</div>
{% endblock %}