{% extends 'base.html.twig' %}

{% block title %}Todas las tareas{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h2>Mis tareas</h2>
    {# {{dump(tasks)}} #}
    {{ include('includes/tasks-list.html.twig') }}
</div>
{% endblock %}
